body {
  margin: 0;
  padding: 0;
}
.hello {
  text-align: center;
  color: green;
  width: 90%;
  height: 250px;
  overflow: auto;
  overflow-y: scroll;
  background-color: black;
  margin: 2% 5%;
}
.welcome {
  text-align: center;
  font-size: larger;
  color: green;
}
.button-wrapper {
  text-align: center;
}
#rock {
  background: url("../images/rock.jpg") no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 6% 5%;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

#paper {
  background: url("../images/paper.jpg") no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 6% 5%;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

#scissors {
  background: url("../images/scissors.jpg") no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 6% 5%;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
#chat {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
  background-color: black;
  color: green;
}
#say {
  background-color: green;
  padding: 11px 38px;
  color: white;
}
.points {
  text-align: center;
  color: red;
  font-size: 175%;
}
.btns {
  text-align: center;
}
